ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(223, 19, 19);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(240, 234, 234);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(194, 11, 11);
}

.logo{
    margin : auto;
    width: 35%;
   
}

.menu{
    margin: auto;
    width: 50%;
    text-align: center;
}

.menu_btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    width: 50%;
    background-color: rgb(223, 19, 19);
    border: none;
    color:rgb(240, 234, 234);
    font-size: 150%;
    border-radius: 12px;
}

.menu_btn:hover{
    background-color: rgb(194, 11, 11);
}
