.icon-bar {
  width: 100%; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
  overflow: auto;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; 
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.logo{
    margin : auto;
    width: 20%;
    font-size: 36px;
}

.menu{
    margin-top: none;
    margin: auto;
    width: 50%;
    text-align: center;
}

.menu_btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    width: 50%;
    background-color: rgb(249, 71, 73);
    border: none;
    color:rgb(240, 234, 234);
    font-size: 150%;
    border-radius: 12px;
}

.menu_btn:hover{
    background-color: rgb(226, 28, 38);
}

.body{
  background-color: rgb(40, 40, 40);
}
