.icone{
    display: inline-flex;
    height: 100px;
    background-color: red;
  
  }
  .symbol1{
    float: left;
    
  }
  .symbol2{
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
  }

.logo{
    margin : auto;
    width: 20%;
}

.menu{
    margin-top: none;
    margin: auto;
    width: 50%;
    text-align: center;
}

.menu_btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    width: 50%;
    background-color: rgb(223, 19, 19);
    border: none;
    color:rgb(240, 234, 234);
    font-size: 150%;
    border-radius: 12px;
}

.menu_btn:hover{
    background-color: rgb(194, 11, 11);
}

.body{
  background-color: rgb(40, 40, 40);
}
