* {
    box-sizing: border-box;   
}

body {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color:rgb(222, 30, 30);
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px 25px ;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,0.2);
    transition: opacity 0.3s ease;
}

.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 60px;
    width: 600px;
    max-width: 100% ;
    text-align: center;
}