.title1{
    text-align: center;
    padding: 2%;
}
.title2{
    text-align: center;
    padding: 2%;
}

.stats1{
    margin: auto;
    width: 40%;
}
.stats2{
    margin: auto;
    width: 20%;
    text-align: center;
}

.stat{
    text-align: center;
    border: 1px solid rgb(249, 71, 73);
    border-radius: 12px;
    background-color: rgb(249, 71, 73);
}
.perfs{
    margin: auto;
    width: 100%;
}

ul{
    list-style: none;
}

body{
    color: white;
}

.num{
    font-size: 50px;
}

#onglets {
    padding-top: 4rem;
}

.nav-link{
    color:rgb(249, 71, 73);
}

.nav-link:hover{
    color:rgb(226, 28, 38);
    border: none;
}
.container {
    padding: 1rem;
}