{% extends "layout.html"%} 

{%block link%}
<link rel="stylesheet" type="text/css" href="/static/css/game.css">
{%endblock%}

{%block body %}

{% if mode=='pl' %}
<form action="/partiePL" method="POST">
{%else%}
<form action="/partie" method="POST">
{%endif%}
  <div class="row">
    <h1 class="title2">Choisir la taille du mot</h1>
    <div class="centre" >
      <input class="but2" id="wordlen" name="longueur" type="number" min="4" max="8" value="5" aria-label="Sélectionner la taille du mot">
    </div>
  </div>
  <div class="row">
    <h1 class="title2">Choisir le nombre d'essais possible</h1>
    <div class="centre" >
    <input class="but2" id="tries" name="essais" type="number" min="3" max="8" value="5" aria-label="Sélectionner le nombre d'essais">
    </div>
    <div class="centre">
        <input class="but2" type="submit" value="Lancer le jeu">
    </div>
  </div>
</form>
{%endblock%} 