{% extends "layout.html" %} 
    {%block link%} 
    
    <link href="../static/css/games.css" type="text/css" rel="stylesheet">

    {%endblock%}
    {%block header %}
    <div class="icone">
        <a href="regle" id="config-icone">
          <svg id="config-icone" class="symbol1">
            <use href="#icone1"></use>
          </svg>
        </a>
        
        <a href="stats" id="config-icone" >
    
            <svg id="config-icone" class="symbol2">
            <use href="#icone2"></use>
          </svg>
        </a>
    
    </div>
    {%endblock%}

    {%block body%} 

    <script>
        var longueur = '{{longueur}}';
        var essais = '{{essais}}';
    </script>
    <script src="../static/js/p5.min.js"></script>
    <script src="../static/js/game.js"></script>
    <script src="../static/js/key.js"></script>
    <script src="../static/js/cell.js"></script>
  

    {%endblock%}