{% extends "layout.html" %}

    {%block link%}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">

  
    {%endblock%}
    

    {%block body%}
    <div class="menu">
        <img class="logo" src="/static/img/Logo_2.png">
        <div class="buttons">
            <a href="">
                <button class="menu_btn">Classique</button>
            </a>
            <a href="">
                <button class="menu_btn">Peace & Love</button>
            </a>
            <a href="">
                <button class="menu_btn">Statistiques   </button>
            </a>
        </div>
    </div>
   
   
    {%endblock%}


