{% extends "layout.html" %}

    {%block link%}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">

  
    {%endblock%}
   
    {%block body%}
    <div class="menu">
        <div class="buttons">
            <a href="Jeu">
                <button class="menu_btn">Classique</button>
            </a>
            <a href="JeuPL">
                <button class="menu_btn">Peace & Love</button>
            </a>
            {%if is_connected %}
            <a href="stats">
                <button class="menu_btn">Statistiques</button>
            </a>
            <a href="my_friends"> 
                <button class="menu_btn">Amis</button>
            </a>
            {%else%}
                <button class="menu_btn" disabled>Statistiques</button>
            
                <button class="menu_btn" disabled>Amis</button>
            
            {%endif%}

        </div>
    </div>
   
   
    {%endblock%}


