{% extends "layout.html" %}

    {%block link%}
    <link rel="stylesheet" type="text/css" href="/static/css/stats.css">

  
    {%endblock%}
    

    {%block body%}

    <h1 class="title1">[USERNAME] - Statistiques</h1>
    <div class="stats1">
        <table class="perfs">
            <tbody>
                <tr>
                    <td><div class="stat">Parties Jouées</div></td>
                    <td><div class="stat">% de victoire</div></td>
                </tr>
                <tr>
                    <td><div class="stat">Série actuelle</div></td>
                    <td><div class="stat">Meilleure Série</div></td>
                </tr>
            </tbody>
        </table>

    </div>
    <h2 class="title2">Performances</h2>
    <div class="stats2">
        Victoires en 1 essai : <br>
        Victoires en 2 essais : <br>
        Victoires en 3 essais : <br>
        Victoires en 4 essais : <br>
        Victoires en 5 essais : <br>
        Victoires en 6 essais : <br>
        Victoires en 7 essais : <br>
        Victoires en 8 essais : <br>
    </div>

    {%endblock%}
